<div class="row">
	<div class="col-sm-12">
		<h4>Select the set you want to see:</h4>
		<md-datepicker ng-model="myDate" md-placeholder="Enter date" ng-change="changeSelect(myDate)" ></md-datepicker>

	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<h5>Now Showing: {{ myDate | date:'MMMM d, y'  }}</h5>
	</div>
</div>

<!-- <img src="../uploads/IMG_0367.jpg" /> -->

<div class="row">
	<div class="col-md-12" ng-repeat="pick in picks | filter: changeDate ">
			<div class="well">
				<h4>{{pick.name}}</h4>

				<div class="row">
					<div class="col-md-4" ng-repeat="imgPick in pick.imgList.uploadedPicks">
						<img data-ng-src="../uploads/{{imgPick}}" class="img-responsive" />
					</div>
				</div>

			</div>
	</div>
</div>
