<div class="row">
	<div class="col-sm-12">
		<h4>Select the set you want to see:</h4>
		<md-datepicker ng-model="myDate" md-placeholder="Enter date" ng-change="changeSelect(myDate)" ></md-datepicker>

	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<h5>Now Showing: {{ myDate | date:'MMMM d, y'  }}</h5>
	</div>
</div>

<div class="row">
	<div class="col-md-4" ng-repeat="pick in picks | filter: changeDate ">
			<div class="well">
				<h4>{{pick.name}}</h4>

				<label>
					Price:
				</label>
				{{ pick._id }} DKK.

			</div>
	</div>
</div>
